<div class="jumbotron">
  <h1 class="display-4">BEM VINDO</h1>
  <p class="lead">Está é a página inicial da plataforma. Clique em login para inciar a sessão!</p>
  <hr class="my-4">
  <p>Para conhecar um pouco sobre o nosso compromiço e trabalho clique em 'sobre'.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sobre</a>
  </p>
</div>